@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
:root {
   --orange:rgb(255, 166, 0);
}
html:root
{
   --black:#0E0E10;
   --white:rgba(255, 255, 255, 0.9);
   --whitegray:rgba(255, 255, 255, 0.65);
   --gray:rgba(128, 128, 128, 0.8);
   /* filter:invert(1) hue-rotate(160deg); */
}
html.active:root
{
   --black:#0E0E10;
   --white:rgba(255, 255, 255, 0.9);
   --whitegray:rgba(255, 255, 255, 0.65);
   --gray:rgba(128, 128, 128, 0.8);
   filter:invert(1) hue-rotate(160deg);
}
html
{
   transition: all 100ms ease;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   font-family: 'Jost', sans-serif;
   background-color: var(--black);
}
.todes
{
   position: absolute;
   top:10px;
   right: 10px;
   /* border: 1px solid red; */
   max-width: 90px;
   width:100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.todes .box
{
   width: 100%;
   height: auto;
   position: relative;
   display: none;
   opacity: 0;
   transform: translateY(-45px) translateX(-54px);
   transition: all 500ms ease;
}
.todes .box :is(input,span)
{
   color:var(--white);
   font-size: 2em;
}
.todes .box input
{
   appearance: none;
   -ms-progress-appearance: none;
   width: 100%;
   background-color: var(--gray);
   height: 40px;
   cursor: pointer;
   border-radius: 10px;
}
.todes .box span
{
   position: absolute;
   left:0;
   top:0;
   pointer-events: none;
   transition: all 500ms ease;
}
.todes .box span i 
{
   position: absolute;
   left:4px;
   top:4px;
}
.todes .box span i:first-child
{
   visibility: visible;
   opacity: 1;
   transform: rotate();
   transition: all 1000ms ease;
}
.todes .box span i:last-child
{
   visibility: hidden;
   opacity: 0;
   transform: rotate();
   transition: all 1000ms ease;
}
.todes .box input:checked + span
{
   top:0;
   left:50px;
}
.todes .box input:checked + span i:first-child
{
   visibility: hidden;
   opacity: 0;
   transform: rotate(45deg);
}
.todes .box input:checked + span i:last-child
{
   visibility: visible;
   opacity: 1;
   transform: rotate(-45deg);
}
.todes .boxdisplay 
{
   /* border: 1px solid red; */
   width:50%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.todes .boxdisplay i 
{
   /* border: 1px solid blue; */
   font-size: 2em;
   color:white;
}
.todes .boxdisplay.active ~ .box 
{
   display: block;
   opacity: 1;
   transition: all 500ms ease;
}
.container-display
{
   max-width: 400px;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5px;
   flex-direction: column;
   /* border: 1px solid red; */
}
.container-display input
{
   width: 100%;
   padding: 1px 1px;
   border: none;
   background-color: var(--black);
   cursor:auto;
   font-family: 'Jost', sans-serif;
   color:var(--white);
   font-size: 3.25em;
   direction: ltr;
   /* border: 1px solid blue; */
   transition: all 200ms ease-in-out;
}
.container-display input:last-child
{
   font-size:2em;
   color:var(--gray);
   display: none;
}
.container-display input:focus
{
   border: none;
   outline: none;
}
.container-display.active input:last-child
{
   font-size: 3.25em;
   color:var(--white);
}
.container-display.visible input:last-child
{
   display: block;
}
.container-display.active input:first-child
{
   font-size: 2em;
}
.container-display input::placeholder
{
   color:var(--white);
}
.breakline
{
   max-width: 400px;
   width:100%;border: 2px solid var(--white);
   background-color: var(--white);
   border-radius: 50px;
}
.container
{
   max-width: 400px;
   width: 100%;
   display: flex;
   flex-direction: row;
}
.hidden-arguments
{
   width: 20%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   display: none;
}
.hidden-arguments.active
{
   display: block;
}
.hidden-arguments .line
{
   width:100%;
   height: auto;
   display: flex;
   flex-direction: column;
   gap:16px;
   margin-top: 20px;
}
.hidden-arguments .line button 
{
   background-color: var(--black);
   border: none;outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   width:70px;
   height: 70px;
   cursor: pointer;
}
.hidden-arguments .line button i 
{
   color:var(--white);
   font-size: 3.25em;
   pointer-events: none;
}
.hidden-arguments .line button i.option
{
   font-style: normal;
   font-family: 'Jost', sans-serif;
   color:var(--whitegray);
}

.container-arguments
{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   gap:16px;
}
.container-arguments.active {
   width:80%;
}
.container-arguments .line
{
   display: flex;
   flex-direction:row;
   justify-content: space-around;
}
.container-arguments .line.first
{
   margin-top: 20px;
}
.container-arguments .line button 
{
   background-color: var(--black);
   border: none;outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   width:70px;
   height: 70px;
   cursor: pointer;
}
.container-arguments .line button i
{
   color:var(--white);
   font-size: 3.25em;
   pointer-events: none;
}
.container-arguments .line button i.number
{
   font-style: normal;
   font-family: 'Jost', sans-serif;
   color:var(--white);
}
.container-arguments .line button i.argument 
{
   color:var(--orange);
}
.container-arguments .line button.argument-equal
{
   background-color: var(--orange);
   border-radius: 20px;
}
@media screen and (max-width:420px){
   body {
      justify-content: flex-end;
   }
   .container-arguments .line button i
   {
   font-size: 3.5em;
   }
   .container-display input
   {
   padding: 8px 8px;
   }
   .container-arguments
   {
   gap:18px;
   }
   .container-arguments .line.last
   {
      margin-bottom: 20px;
   }
   .hidden-arguments .line
   {
      margin-bottom: 20px;
   }
}