@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
:root {
   --orange:#ffa500;
}
html:root
{
   --black:#0E0E10;
   --white:rgba(255, 255, 255, 0.9);
   --whitegray:rgba(255, 255, 255, 0.65);
   --gray:rgba(128, 128, 128, 0.8);
   --background:rgba(26, 26, 26, 0.8);
   /* filter:invert(1) hue-rotate(160deg); */
}
html.active:root
{
   --black:#0E0E10;
   --white:rgba(255, 255, 255, 0.9);
   --whitegray:rgba(255, 255, 255, 0.65);
   --gray:rgba(62, 62, 62, 0.8);
   filter:invert(1) hue-rotate(160deg);
}
html
{
   transition: all 100ms ease;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   font-family: 'Jost', sans-serif;
   background-color: var(--black);
}
.consolelog
{
   max-width:400px;
   width:clamp(100px,90%,400px);
   height: clamp(100px,90%,300px);
   background-color: var(--background);
   border: 1px solid var(--whitegray);
   border-radius: 6px;
   overflow: auto;
   position: relative;
   display: none;
}
.consolelog.active
{
   display: block;
}
.consolelog .display
{
   width:100%;
   height: auto;
   color:var(--white);
   font-family:  Courier, monospace;
   font-size: 1.25em;
}
.todes
{
   position: absolute;
   top:20px;
   max-width: 400px;
   width:clamp(200px,95%,400px);
   height: auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   visibility: hidden;
   opacity: 0;
   transition: all 400ms ease;
   background-color: var(--background);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   border-radius: 4px;
   gap:16px;
}
.todes.active 
{
   visibility: visible;
   opacity: 1;
}
.todes .culoum
{
   width:100%;
   height: auto;
   display: flex;
   flex-direction:row;
   margin: 4px;
   /* border: 1px solid red; */
}
.todes .culoum .info
{
   /* border: 1px solid blue; */
   width:50%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.todes .culoum .info span
{
   /* border: 1px solid yellow; */
   font-size: 1.5em;
   color:var(--white);
}
.todes .culoum .box 
{
   width:50%;
   /* border: 1px solid yellow; */
   display: flex;
   align-items: center;
   justify-content: flex-end;
   position: relative;
}
.todes .culoum .box .holder
{
   position: relative;
   /* border: 1px solid rgb(242, 99, 99); */
   height: 100%;
   width:auto;
}
.todes .culoum .box .holder input
{
   appearance: none;
   border: 1px solid var(--white);
   height: 100%;
   width:75px;
   border-radius: 50px;
   cursor: pointer;
   transition: all 400ms ease;
   /* background-color: var(--whitegray); */
}
.todes .culoum .box .holder .circle
{
   /* border: 1px solid white; */
   position: absolute;
   left:0;top:0;
   height: 35px;
   width:35px;
   border-radius: 50px;
   pointer-events: none;
   background-color: var(--orange);
   transition: all 400ms ease;
}
.todes .culoum .box .holder input:checked ~ .circle
{
   left:40px;top:0;
}
.todes .culoum .box .holder input:checked 
{
   background-color: var(--white);
}
.settinglogo
{
   position: absolute;
   top:5px;right:5px;
   max-width:60px;
   width:100%;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.settinglogo i 
{
   /* border: 1px solid blue; */
   font-size: 2.5em;
   color:white;
   transition: all 200ms ease;
}
.settinglogo i:hover
{
   transform: rotate(45deg);
}
.container-display
{
   max-width: 400px;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5px;
   flex-direction: column;
   /* border: 1px solid red; */
}
.container-display input
{
   width: 100%;
   padding: 1px 1px;
   border: none;
   background-color: var(--black);
   cursor:auto;
   font-family: 'Jost', sans-serif;
   color:var(--white);
   font-size: 3.25em;
   direction: ltr;
   /* border: 1px solid blue; */
   transition: all 200ms ease-in-out;
}
.container-display input:last-child
{
   font-size:2em;
   color:var(--gray);
   display: none;
}
.container-display input:focus
{
   border: none;
   outline: none;
}
.container-display.active input:last-child
{
   font-size: 3.25em;
   color:var(--white);
}
.container-display.visible input:last-child
{
   display: block;
}
.container-display.active input:first-child
{
   font-size: 2em;
}
.container-display input::placeholder
{
   color:var(--white);
}
.breakline
{
   max-width: 400px;
   width:100%;border: 2px solid var(--white);
   background-color: var(--white);
   border-radius: 50px;
}
.container
{
   max-width: 400px;
   width: 100%;
   display: flex;
   flex-direction: row;
}
.hidden-arguments
{
   width: 20%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   display: none;
}
.hidden-arguments.active
{
   display: block;
}
.hidden-arguments .line
{
   width:100%;
   height: auto;
   display: flex;
   flex-direction: column;
   gap:16px;
   margin-top: 20px;
}
.hidden-arguments .line button 
{
   background-color: var(--black);
   border: none;outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   width:70px;
   height: 70px;
   cursor: pointer;
}
.hidden-arguments .line button i 
{
   color:var(--white);
   font-size: 3.25em;
   pointer-events: none;
}
.hidden-arguments .line button i.option
{
   font-style: normal;
   font-family: 'Jost', sans-serif;
   color:var(--whitegray);
}

.container-arguments
{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   gap:16px;
}
.container-arguments.active {
   width:80%;
}
.container-arguments .line
{
   display: flex;
   flex-direction:row;
   justify-content: space-around;
}
.container-arguments .line.first
{
   margin-top: 20px;
}
.container-arguments .line button 
{
   background-color: var(--black);
   border: none;outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   width:70px;
   height: 70px;
   cursor: pointer;
}
.container-arguments .line button i
{
   color:var(--white);
   font-size: 3.25em;
   pointer-events: none;
}
.container-arguments .line button i.number
{
   font-style: normal;
   font-family: 'Jost', sans-serif;
   color:var(--white);
}
.container-arguments .line button i.argument 
{
   color:var(--orange);
}
.container-arguments .line button.argument-equal
{
   background-color: var(--orange);
   border-radius: 20px;
}
@media screen and (max-width:420px){
   body {
      justify-content: flex-end;
   }
   .container-arguments .line button i
   {
   font-size: 3.5em;
   }
   .container-display input
   {
   padding: 8px 8px;
   }
   .container-arguments
   {
   gap:18px;
   }
   .container-arguments .line.last
   {
      margin-bottom: 20px;
   }
   .hidden-arguments .line
   {
      margin-bottom: 20px;
   }
}